<%= bootstrap_form_for [:admin, @user] do |f| %>

  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br> 
  <div>
    <%= f.text_field :firstname, label: "First name" %>
  </div>
  <br> 
  <div>
    <%= f.text_field :lastname, label: "Last name" %>
  </div>
  <br> 
  <div>
    <%= f.text_field :email %>
  </div>
  <br> 
  <div>
    <%= f.password_field :password %>
  </div>
  <br> 
  <div>
    <%= f.password_field :password_confirmation %>
  </div>
  <br> 
  <div>
    <%= f.check_box :admin %> 
    <br> 
  </div>
  <br> 
  <div>
    <%= f.submit "Submit", class: "btn btn-primary" %> 
  </div>
  <br> 
<% end %>
 